<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href = "/">Da Rulez</a></li>
        <li><a href = "/about_us">About Us</a></li>
      </ul>
    </nav>
    <%= yield %>    <!-- ruby specific command to state that ruby code should be presented here, will depend on what route what it will show -->
  </body>
</html>
