<h1>This is the page with all the rule info :) </h1>

<p>Rock beats Scissors, Scissors beats Paper, and Paper beats rock. Its that simple!
Also please spell rock, paper, and scissors correctly otherwise the computer will be sad</p>
